POSTGRES_USER=parking
POSTGRES_PASSWORD=parking
POSTGRES_DB=parking_db

REDIS_PASSWORD=redis_pass

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin

CONFIG_SERVER_REPOSITORY=https://github.com/labcabrera/parking-reservation-system.git
CONFIG_SERVER_DEFAULT_LABEL=develop
CONFIG_SERVER_SEARCH_PATHS=cloud-config/shared,cloud-config/microservices

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

CLOUD_CONFIG_SERVER_URI=http://parking-reservation-system-prs-ms-config-server-1:8888

OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
